# Dependências
node_modules/
**/node_modules/

# Builds e bundles
dist/
**/dist/

# Banco de dados local (gerado automaticamente no seed)
*.db
*.db-journal
*.sqlite

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Variáveis de ambiente
.env
.env.local

# SO e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
